<div class="large-10 large-centered" id = "adduser">
	<div class="large-12 large-centered page_heading">Add User</div>
	<div class="large-12 large-centered">
	<form name = "myform" ng-submit="register()" novalidate>
		<fieldset>
			Name<font color="red">*</font>
			<input type="text" name="name" 
        		placeholder="Name"
        		ng-model="name"
        		ng-required="true">
        	<p class="error validationerror text-center" ng-show="myform.name.$invalid && myform.name.$touched">
        		Please enter a name.
        	</p>
			Email<font color="red">*</font>
			<input type="email" name="email"
        		placeholder="Email" 
        		ng-model="email"
        		ng-required="true"
        		>
        	<p class="error validationerror text-center" ng-show="myform.email.$invalid && myform.email.$touched">
        		Enter a valid email-id.
        	</p>
		</fieldset>
		<button type="submit" class="button">Submit</button>
		<div class="small-12 text-center">
			<b>{{message}}</b>
       	</div>
	</form>
	</div>
</div>