<div class="small-10 small-centered" id = "edittaskdetail">
	<div class="small-12 outer_box">
		<div class="small-12 other-text row">
			<div class="small-12 task_user row">Edit Details:</div>	
		<form name = "myform" ng-submit="register()" novalidate>
		<fieldset>
			Name<font color="red">*</font>
			<input type="text" name="name" 
        		ng-model="name"
        		ng-required="true">
        	<p class="error validationerror text-center" ng-show="myform.name.$invalid && myform.name.$touched">
        		You must fill out the task's name.
        	</p>
        	Description
			<input type="text" name="description" 
        		ng-model="description">

        	Deadline<font color="red">*</font>
            <datepicker>
                <input ng-model="deadline"
                 name = "deadline"
                 type="text"
                 placeholder="Choose Date"
                 ng-required = "true"
                 />
                 <!--2016-04-10T12:57:18.000Z-->
            </datepicker>
        	<p class="error validationerror text-center" ng-show="myform.deadline.$invalid && myform.deadline.$touched">
        		You must fill out the task's deadline.
        	</p>
            <br>

        	User:<br>
        	<b> Assigned User: </b> {{task.assignedUserName}}<br>
            <select ng-model="tasks_under">
                <option ng-repeat="user in users" value = "{{users.indexOf(user)}}">{{user.name}}</option>
            </select>

            Completed<br>
            <input type="radio" name = "TaskStatus" value=1  ng-model = "task_complete"  id="Completed">
			<label for="Completed">Completed</label>
    		<input type="radio" name = "TaskStatus" value=-1 ng-model = "task_complete"  id="Pending">
    		<label for="Pending">Pending</label>
               

		</fieldset>
    		<div class="small-12 row">
    			<button type="submit" class="button">Update</button>
    		</div>
            <div class="columns medium-10 medium-centered row text-center"> {{message}}</div>
        </form>
        </div>
	</div>
</div>