<div class="large-10 large-centered" id = "tasks">
	<div class="large-12 row">
		<div class="large-8 columns page_heading">Tasks</div>
    	<div class="large-2 columns text-right page_heading"><a class="fa fa-plus" href="#/addtask"></a></div>
	</div>
	<div class="large-12 row options">
		<div class="row">
		<div class="large-4 columns options">
			<label>Task Type:</label>
    		<input type="radio" name = "Tasktype" ng-model = "task_filter" value = "0" id="All"><label for="All" >All</label>
    		<input type="radio" name = "Tasktype" ng-model = "task_filter" value = "1" id="Completed"><label for="Completed">Completed</label>
    		<input type="radio" name = "Tasktype" ng-model = "task_filter" value = "2" id="Pending"><label for="Pending">Pending</label>
		</div>
		<div class="large-4 columns options">
			<label>Order By:
		        <select ng-model="tasks_orderby">
		          <option value="name">Name</option>
		          <option value="assignedUserName">User Name</option>
		          <option value="dateCreated">Date Created</option>
		          <option value="deadline">Deadline</option>
		        </select>
      		</label>
		</div>
		<div class="large-4 columns options">
			<label>Order:</label>
			<input type="radio" name = "Ordertype" value=1  ng-model = "task_order"  id="Ascending">
			<label for="Ascending">Ascending</label>
    		<input type="radio" name = "Ordertype" value=-1 ng-model = "task_order"  id="Descending">
    		<label for="Descending">Descending</label>
		</div>
		</div>
		<div class="large-centered large-3 text-center">
			<button class="button" ng-click="submit()">Submit</button>
		</div>
	</div>
	<div class="row large-12 arrow">
		<div class="large-6 columns text-center" ng-click="pagination(-1)"><i class="fa fa-arrow-left"></i></div>
		<div class="large-6 columns text-center" ng-click="pagination(1)"><i class="fa fa-arrow-right"></i></div>
	</div>
	<div class="row large-12">
		    <div ng-repeat="task in tasks" class = "tasklist large-12">
      			<a href="#task/{{task._id}}">
        			<div class="small-5 columns text-left"><b>{{task.name}}</b></div>
        			<div class="small-3 columns text-left"><i>{{task.assignedUserName}}</i></div>
        			<div class="small-2 columns text-left">{{task.deadline}}</div>
        			<div class="small-2 columns text-center"><i class="fa fa-trash"></i></div>
      			</a>
    		</div>
	</div>
</div>


<!-- 

<div class="large-10 large-centered" id = "user">
  <div class="large-12 row">
    <div class="large-8 columns page_heading">Users</div>
    <div class="large-2 columns text-right page_heading"><a class="fa fa-plus" href="#/adduser"></a></div>
  </div>
  <div class="large-12 row">
    <div ng-repeat="user in users" class = "userlist large-12">
      <a href="#/user/{{user._id}}">
        <div class="small-5 columns text-left"><b>{{user.name}}</b></div>
        <div class="small-5 columns text-left">{{user.email}}</div>
        <div class="small-2 columns text-center"><i class="fa fa-trash"></i></div>
      </a>
    </div>
  </div>
</div>



-->