<div class="small-10 small-centered" id = "userdetail">
	<div class="small-12 outer_box">
		<div class="box-heading small-12 row">
			<div class="small-12 columns"><b>{{user.name}}</b> ({{user.email}})</div>
		</div>
		<div class="small-12 other-text row">
			<div class="small-12 task_user">Task Pending:</div>
			<div ng-repeat="task in intask" class="small-12 task_item">
				<a href="#task/{{task._id}}">
					<div class="small-6 columns text-left"><b>{{task.name}}</b></div>
	        		<div class="small-4 columns text-left">{{task.deadline}}</div>
	        		<div class="small-2 columns text-center"><i class="fa fa-check"></i></div>
        		</a>
			</div>
		</div>
		<div class="small-12 other-text row">
			<div class="small-12 task_user" ng-click="loadcomp()"><a>Task Completed:</a></div>
			<div ng-repeat="task in compshow" class="small-12 task_item">
				<a href="#task/{{task._id}}">
					<div class="small-6 columns text-left"><b>{{task.name}}</b></div>
	        		<div class="small-4 columns text-left">{{task.deadline}}</div>
	        		<div class="small-2 columns text-center"><i class="fa fa-check task-done"></i></div>
        		</a>
			</div>
		</div>
		
	</div>
</div>